
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mb-3 {
    display: flex;
    margin-top: 10%;
    max-width: 250px;
    max-height: 20%;
}
